body {
    background: rgb(86, 143, 119); 
}

.container {
    border: 1px solid black;
    width: 70%;
    margin: auto;
    padding: 20px;
    background-color: #FFFFEE;

    @media (max-width: 1000px) {
        width: 90%;
    }
}

h1 {
    font-size: 60px;
    margin: 10px 0;
}

p {
    font-style: italic;
}

.briem-hand-regular {
    font-family: "Briem Hand", cursive;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.rubik-regular {
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
